@model MapiOnline.Models.CheckOutModel
@{
    ViewBag.Title = "اطلاعات فرستنده";
    Layout = "~/Views/Shared/_FirstLayoutNew2.fa-ir.cshtml";
}
<script>
    $(document).ready(function () {

        $("#State").unbind().change(function () {
            BindProvinceCities("AddressId", "AddressId", $('#State').val());
        });
        $("[payment]").unbind().click(function () {
            $("#checkOutForm").find("#paymentMethod").val(this.id);
        });

    });
</script>

<link href="../../Content/template/assets/css/BootstrapValidator.css" rel="stylesheet"
    type="text/css" />
<h2>
    CheckOut</h2>
<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">خانه</a> </li>
                <li><a href="@Url.Action("ShoppingCart", "Shopping")">سبد خرید</a> </li>
                <li class="active">اطلاعات فرستنده </li>
            </ul>
        </div>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner">
                <span><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;اتمام خرید &nbsp;</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
            <h4 class="caps">
                <a href="@Url.Action("Category", "Home")"><i class="fa fa-chevron-right"></i>&nbsp;ادامه
                    خرید&nbsp; </a>
            </h4>
        </div>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    @using (Ajax.BeginForm("CheckOut", "Shopping", FormMethod.Post, new AjaxOptions
                    {

                        OnBegin = "loadingStart();",
                        OnComplete = "loadingEnd();",
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "error"
                    }, new { @id = "checkOutForm" }))
                    {
                        <div class="w100 clearfix ">
                            <div class="row userInfo">
                                <div class="col-lg-12">
                                    <div class="no-border">
                                        <p class="promo-1">
                                            <strong>اطلاعات فرستنده (شما) - خريدار </strong>
                                        </p>
                                    </div>
                                </div>
                                @Html.ValidationSummary(true)
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="textinput">
                                            نام</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-md" })
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="textinput">
                                            نام خانوادگی <sup>*</sup></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Family, new { @class = "form-control input-md" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="textinput">
                                            آدرس ایمیل</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.email, new { @type = "email", @class = "form-control input-md" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="textinput">
                                            جنسیت</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("Gender", null, new { @class = "form-control input-md" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="textinput">
                                            تلفن</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-md" })
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="Mobile">
                                            شماره موبایل <sup>*</sup>
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control input-md" })
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-md-4 control-label" for="textinput">
                                            آدرس</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.AddressStr, new { @class = "form-control input-md" })
                                        </div>
                                    </div>
                                    @* <p>
                                            <input type="submit" value="Create" />
                                        </p>*@
                                </div>
                            </div>
                            <!--/row end-->
                        </div>
                        
                     
                        <div class="w100 clearfix">
                            <div class="row userInfo">
                                <div class="col-lg-12">
                                    <div class="no-border">
                                        <p class="promo-1">
                                            <strong>اطلاعات تحويل گيرنده هديه. </strong>
                                        </p>
                                    </div>
                                </div>
                                @Html.ValidationSummary(true)
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="textinput">
                                            نام / نام خانوادگی <sup>*</sup></label>
                                        <div class="col-md-8">
                                            <input type="text" class = "form-control input-md" value="@(Model.ReceiverName + " " + Model.ReceiverFaily)" name="ReceiverFaily" />
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="textinput">
                                            تلفن</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.ReceiverPhone, new { @class = "form-control input-md" })
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="textinput">
                                            شماره موبایل</label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.ReceiverMobile, new { @class = "form-control input-md" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="textinput">
                                            استان<sup>*</sup></label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("StateId", null, new { @disabled = "disabled", @id = "State", @class = "form-control input-md" })
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="textinput">
                                            شهر <sup>*</sup></label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("AddressId", null, new { @id = "AddressId", @class = " form-control input-md" })
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="textinput">
                                            آدرس کامل <sup>*</sup></label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.ReceiverAddress, new { @class = "form-control input-md" })
                                        </div>
                                    </div>
                                    @* <p>
                                            <input type="submit" value="Create" />
                                        </p>*@
                                </div>
                            </div>
                            <!--/row end-->
                        </div>
                        
                        <div class="w100 clearfix">
                            <div class="row userInfo">
                                <div class="col-lg-12">
                                    <div class="no-border">
                                        <p class="promo-1">
                                            <strong>اطلاعات تحویل</strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-6">
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="textinput">
                                            تاریخ ارسال <sup>*</sup></label>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.SendDate, new { @id = "txt_dateSend", @class = "form-control input-md" })
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="textinput">
                                            متن روی کارت هدیه</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.GiftNote, new { @placeholder = "متن روی کارت هدیه (اختیاری) ...", @class = "form-control input-md" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-6">
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="textinput">
                                            ساعت ارسال <sup>*</sup></label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("SendTime", null, new { @class = "form-control input-md" })
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-md-4 control-label" for="textinput">
                                            توضیحات تکمیلی سفارش
                                        </label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.MoreInfo, new { @class = "form-control input-md" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/row end-->
                        </div>
                        
                        <div class="w100 clearfix">
                        <input id="paymentMethod" name="PaymentMethod"  type="hidden" />
                            <div class="row userInfo">
                                <div class="col-lg-12">
                                    <div class="no-border">
                                        <p class="promo-1">
                                            <strong>لطفا روش پرداخت مورد نظر خود را انتخاب کنید.</strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="paymentBox">
                                        <div class="panel-group paymentMethod" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading panel-heading-custom">
                                                    <h4 class="panel-title">
                                                        <a class="masterCard" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                            <span class="numberCircuil">روش 1</span> <strong>پرداخت آنلاین </strong></a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <p>
                                                            با کلیک گزینه 'سفارش' به صفحه پرداخت اینترنتی وارد می شوید(پرداخت با کلیه کارتهای
                                                            عضو شتاب مقدور میباشد)</p>
                                                        <br>
                                                        
                                                        <div class="form-group clearfix">
                                                            <label class="checkbox-inline" for="checkboxes-0">
                                                                <input name="accepted" checked type="checkbox">
                                                                <a data-toggle="modal" data-dismiss="modal" href="#termsNcondition">قوانین و مقررات
                                                                </a>را مطالعه نموده و با آن موافق هستم
                                                            </label>
                                                        </div>
                                                        <div class="panel open">
                                                            <!--creditCard-->
                                                            <div class="pull-right">
                                                                <button payment id="1" type="submit" class="btn btn-primary btn-small ">
                                                                    سفارش &nbsp; <i class="fa fa-arrow-circle-left"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading panel-heading-custom">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="numberCircuil">
                                                            روش 2</span><strong> پرداخت به شماره کارت اعتباری</strong> </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <p>
                                                            با کلیک گزینه 'سفارش' سفارش شما ثبت شده و می توانید هزینه را به شماره کارت 6104337226650370
                                                            بانک ملت و یا شماره کارت 6037991489604839 بانک ملی به نام سمیه بذرافکن پرداخت نمایید.
                                                            پس از پرداخت وجه به کارت، مبلغ پرداخت شده و شماره پیگیری را به همراه شماره فاکتور
                                                            به شماره 09178535399 پیامک دهید.</p>
                                                        <br>
                                                        <div class="form-group clearfix">
                                                            <label class="checkbox-inline" for="checkboxes-0">
                                                                <input name="accepted" checked type="checkbox">
                                                                <a data-toggle="modal" data-dismiss="modal" href="#termsNcondition">قوانین و مقررات
                                                                </a>را مطالعه نموده و با آن موافق هستم
                                                            </label>
                                                        </div>
                                                        <div class="pull-right">
                                                            <button payment id="2" type="submit" class="btn btn-primary btn-small ">
                                                                سفارش &nbsp; <i class="fa fa-arrow-circle-left"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading panel-heading-custom">
                                                    <h4 class="panel-title">
                                                        <a class="cashOnDelivery" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                            <span class="numberCircuil">روش 3</span> <strong>پرداخت به پیک همزمان با تحویل کالا</strong>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse ">
                                                    <div class="panel-body">
                                                        <p>
                                                            با کلیک گزینه 'سفارش' سفارش شما ثبت شده و می توانید همزمان با تحویل کالا هزینه را
                                                            به پیک پرداخت نمایید.</p>
                                                        <br>
                                                        <div class="form-group clearfix">
                                                            <label class="checkbox-inline" for="checkboxes-1">
                                                                <input name="accepted" id="checkboxes-1" checked type="checkbox">
                                                                <a data-toggle="modal" data-dismiss="modal" href="#termsNcondition">قوانین و مقررات
                                                                </a>را مطالعه نموده و با آن موافق هستم
                                                            </label>
                                                        </div>
                                                        <div class="pull-right">
                                                            <button payment id="3" type="submit" class="btn btn-primary btn-small ">
                                                                سفارش &nbsp; <i class="fa fa-arrow-circle-left"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                            </div>
                        </div>
                        @(Request["error"]==null?"":Request["error"].ToString())
@*<div class="cartFooter w100">
                            <div class="box-footer">
                                <div class="pull-left">
                                    <a class="btn btn-default" href="@Url.Action("Index", "Home")"><i class="fa fa-arrow-right">
                                    </i>&nbsp;ادامه خرید&nbsp; </a>
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-small">
                                        آدرس ارسال &nbsp; <i class="fa fa-arrow-circle-left"></i>
                                    </button>
                                </div>
                            </div>
                        </div>*@
                    }
                    <!--/ cartFooter -->
                </div>
            </div>
            <!--/row end-->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
            <div class="w100 cartMiniTable">
                <table id="cart-summary" class="std table">
                    <tbody>
                        <tr>
                            <td>
                                تعداد کل
                            </td>
                            <td class="price">
                                <span id="itemCatrQuantity"></span>&nbsp;عدد
                            </td>
                        </tr>
                        <tr class="cart-total-price ">
                            <td>
                                جمع خرید
                            </td>
                            <td class="price" name="totalAmount">
                                <span class="digit" id="totalAmount"></span>&nbsp;تومان
                            </td>
                        </tr>
                        <tr style="">
                            <td>
                                هزینه حمل
                            </td>
                            <td class="price">
                                <span class="success digit" id="sendExpense" name="sendExpense"></span>&nbsp;تومان
                            </td>
                        </tr>
                        <tr style="">
                            <td>
                                تخفیف
                            </td>
                            <td class="price">
                                <span class="success digit" id="orderDiscount" name="sendExpense"></span>&nbsp;تومان
                            </td>
                        </tr>
                        <tr>
                            <td>
                                جمع کل
                            </td>
                            <td class=" site-color" name="total-price">
                                <span class="digit" id="total-price">0</span>&nbsp;تومان
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!--  /cartMiniTable-->
        </div>
        <!--/rightSidebar-->
    </div>
    <!--/row-->
    <script>
        $(document).ready(function () {
            $('#checkOutForm').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    Family: {
                        feedbackIcons: true,
                        validators: {
                            notEmpty: {
                                message: 'نام خانوادگی ضروری است'
                            }
                        }
                    },
                    ReceiverFaily: {
                        feedbackIcons: true,
                        validators: {
                            notEmpty: {
                                message: 'نام خانوادگی ضروری است'
                            }
                        }
                    },
                    ReceiverAddress: {
                        feedbackIcons: true,
                        validators: {
                            notEmpty: {
                                message: 'نام خانوادگی ضروری است'
                            }
                        }
                    },
                    SendDate: {
                        feedbackIcons: true,
                        validators: {
                            notEmpty: {
                                message: 'تاریخ ارسال ضروری است'
                            }
                        }
                    },
                    SendTime: {
                        feedbackIcons: true,
                        validators: {
                            notEmpty: {
                                message: 'انتخاب ساعت ارسال ضروری است'
                            }
                        }
                    },
                    Mobile: {
                        feedbackIcons: true,
                        validators: {
                            notEmpty: {
                                message: 'شماره همراه ضروری می باشد'
                            }
                        }
                    }
                }
            });
        });
    </script>
    <div style="clear: both">
    </div>
</div>
<!-- /.main-container-->
<div class="gap">
</div>
