@model IEnumerable<System.Xml.Linq.XElement>
@{
                        
    int count = 0;
    foreach (var menu in Model)
    {
        count++;
    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
        <h3>@(menu.Attribute("menuName").Value)</h3>
        @{
        var sub = menu.Elements("Content").Where(c => c.Attribute("menuLocation").Value
  == "bottom" && c.Attribute("show").Value == "true").OrderBy(o => Convert.ToInt32(o.Attribute("order").Value));
        if (sub.Count() > 0)
        {
            <ul style="padding-top: 20px;">
                @foreach (var subMenu in sub)
                {
                    <li  id="@(subMenu.Attribute("Id").Value)" >
                        @if (bool.Parse(subMenu.Attribute("isLink").Value))
                        {
                            <a class="inline" target="@(bool.Parse(subMenu.Attribute("newPage").Value) ? "_blank" : "_self")" href="@subMenu.Attribute("linkTo").Value">@subMenu.Attribute("menuName").Value</a>
                        }
                        else
                        {
                            @Html.ActionLink(subMenu.Attribute("menuName").Value, "SideMenu", "Home", new
       {
           categoryId = Request["categoryId"],
           isNew = Request["isNew"],
           isOffer = Request["isOffer"],
           isSale = Request["isSale"],
           menuId = subMenu.Attribute("Id").Value,
           name = subMenu.Attribute("menuName").Value
       }, new { @target = (bool.Parse(subMenu.Attribute("newPage").Value) ? "_blank" : "_self") })
                        }
                    </li>

                }
            </ul>
        }
        }
    </div>
    }
}
