@model MapiOnline.Models.CategoryItemsModel
@{
    ViewBag.Title = Request["name"] == null ? "shirazrose.com" : Request["name"];
    Layout = "~/Views/Shared/_FirstLayoutNew2.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("[name=order]").unbind().click(function () {
            var productId = $(this).attr("id").replace("ord", "");
            var sizeid = "";
            $(this).parents("[name=proBox]").find("input[id*=Quality]").each(function () {
                if ($(this).is(":checked")) {
                    sizeid = $(this).attr("sizeId");
                }
            });
            AddToShoppingCart(productId, 1, sizeid, null, $(this));
        });
        var catId = getParameterByName("categoryId");
        $("#categoryProduct").val(catId);
        $("li[id='" + catId + "']").addClass("open-tree").addClass("active");
        $("li[id='" + catId + "']").parents("li").addClass("open-tree");
        $("a[productCategory]").unbind().click(function () {

            $("#categoryProduct").val(this.id);

            $("#filterProduct").submit();
        })

        $("#filterProduct").on("click", ".icr", function () {
            $("#filterProduct").submit();
        })

    });
</script>
@using (Html.BeginForm("Category", "Home", new
            {
                categoryId = Request["CategoryId"],
                name = Request["Category"],
                isNew = Request["isNew"],
                isOffer = Request["isOffer"],
                isSale = Request["isSale"]
            }, FormMethod.Get, new { @id = "filterProduct" }))
{
    <input type="hidden" id="categoryProduct" name="categoryId" />

    <div class="container main-container headerOffset">
        <!-- Main component call to action -->
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    @{
    Html.RenderAction("GetCategoryTitle", "Home", new
    {
        categoryId = Request["categoryId"]
    });
                    }
                </ul>
            </div>
        </div>
        <!-- /.row  -->
        <div class="row">
            <!--left column-->
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="panel-group" id="accordionNo">
                    <!--Category-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseCategory" class="collapseWill"><span class="pull-left">
                                    <i class="fa fa-caret-right"></i></span>Category </a>
                            </h4>
                        </div>
                        <div id="collapseCategory" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked tree">
                                    @{Html.RenderAction("MenuCategory", "Home");}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/Category menu end-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapseWill" data-toggle="collapse" href="#collapsePrice">Price <span
                                    class="pull-left"><i class="fa fa-caret-right"></i></span></a>
                            </h4>
                        </div>
                        <div id="collapsePrice" class="panel-collapse collapse in">
                            <div class="panel-body priceFilterBody">
                                <!-- -->
                                <label>
                                    Less than 100$
                                    <input  @(Request["priceRange"] != null ? (Request["priceRange"].ToString() == "0,100000" ? "checked" : "") : "")  type="radio" name="priceRange" value="0,100000" />
                                </label>
                                <br>
                                <label>
                                    100$ - 200$
                                    <input @(Request["priceRange"] != null ? (Request["priceRange"].ToString() == "100000,200000" ? "checked" : "") : "") type="radio" name="priceRange" value="100000,200000" />
                                </label>
                                <br>
                                <label>
                                    200$ - 300$
                                    <input @(Request["priceRange"] != null ? (Request["priceRange"].ToString() == "200000,300000" ? "checked" : "") : "") type="radio" name="priceRange" value="200000,300000" />
                                </label>
                                <br>
                                <label>
                                    300$ - 400 $
                                    <input @(Request["priceRange"] != null ? (Request["priceRange"].ToString() == "300000,400000" ? "checked" : "") : "") type="radio" name="priceRange" value="300000,400000" />
                                </label>
                                <br>
                                <label>
                                    500$ - 600$
                                    <input @(Request["priceRange"] != null ? (Request["priceRange"].ToString() == "500000,600000" ? "checked" : "") : "") type="radio" name="priceRange" value="500000,600000" />
                                </label>
                                <br>
                                <label>
                                    More than 600$
                                    <input @(Request["priceRange"] != null ? (Request["priceRange"].ToString() == "600000,20000000" ? "checked" : "") : "") type="radio" name="priceRange" value="600000,20000000" />
                                </label>
                                <br>
                                <label>
                                    Don't know
                                    <input  type="radio" name="priceRange" value="0" disabled @(Request["priceRange"] == null ? "checked" : "") : "") />
                                </label>
                                <hr>
                                <p>
                                    Enter a price range
                                </p>
                                <span class="form-inline">
                                    <div class="form-group">
                                        <input type="text" value="@Request["fromPrice"]" placeholder="From" name="fromPrice" class="form-control">
                                    </div>
                                    <div class="form-group sp">
                                        -
                                    </div>
                                    <div class="form-group">
                                        <input type="text" value="@Request["toPrice"]" placeholder="To" name="toPrice" class="form-control">
                                    </div>
                                    <button id="btn_filterPrice" type="submit" class="btn btn-default pull-right">
                                        check</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    @{Html.RenderAction("SidePropertyMenu", "Home");}
                    <!--/discount  panel end-->
                </div>
            </div>
            <!--right column-->
            <div class="col-lg-9 col-md-9 col-sm-12">
                <!--/.subCategoryList-->
                <div class="w100 productFilter clearfix">
                    @{
                      Pager pager = ViewBag.Pager;
                        <p class="pull-left">
                            Showing @(pager.CurrentPageIndex == 1 ? 1 : (pager.CurrentPageIndex - 1) * pager.itemsPerPage)
                            to
                            @((((pager.CurrentPageIndex - 1) * pager.itemsPerPage + 12) > pager.numberOfItems ? pager.numberOfItems : ((pager.CurrentPageIndex - 1) * pager.itemsPerPage + 12)))
                            from @(pager.numberOfItems)
                            products</p>
                    }
                    <div class="pull-right ">
                        <div class="change-order pull-right">
                            <select onchange="$('#filterProduct').submit();" class="form-control" name="sortBy">
                                <option @(Request["sortBy"] != null ? (Request["sortBy"].ToString() == "EnteryDate DESC" ? "selected" : "") : "") value="EnteryDate DESC">
                                    Default sorting</option>
                                <option @(Request["sortBy"] != null ? (Request["sortBy"].ToString() == "Name ASC" ? "selected" : "") : "") value="Name ASC">
                                    Sort by name: (A - Z)</option>
                                <option @(Request["sortBy"] != null ? (Request["sortBy"].ToString() == "Name DESC" ? "selected" : "") : "") value="Name DESC">
                                    Sort by name: (Z - A) </option>
                                <option @(Request["sortBy"] != null ? (Request["sortBy"].ToString() == "AverageSellPrice ASC" ? "selected" : "") : "") value="AverageSellPrice ASC">
                                    Sort by price: low to high</option>
                                <option @(Request["sortBy"] != null ? (Request["sortBy"].ToString() == "AverageSellPrice DESC" ? "selected" : "") : "") value="AverageSellPrice DESC">
                                    Sort by price: hight to low</option>
                                <option @(Request["sortBy"] != null ? (Request["sortBy"].ToString() == "SellQuantity ASC" ? "selected" : "") : "") value="SellQuantity ASC">
                                    sort by popularity: hight to low </option>
                                <option @(Request["sortBy"] != null ? (Request["sortBy"].ToString() == "SellQuantity DESC" ? "selected" : "") : "") value="SellQuantity DESC">
                                    sort by popularity :low to high</option>
                            </select>
                        </div>
                        <div class="change-view pull-right">
                            <a href="#" title="Grid" class="grid-view"><i class="fa fa-th-large"></i></a><a href="#"
                                title="List" class="list-view "><i class="fa fa-th-list"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.productFilter-->
                <div class="row  categoryProduct xsResponse clearfix">
                    @foreach (var item in Model.Items)
                    {
                        int? oldPrice = null;
                        if (item.inv_Price.OrderByDescending(p => p.Date).Skip(1).Take(1).FirstOrDefault() != null)
                        {
                            oldPrice = @Convert.ToInt32(item.inv_Price.OrderByDescending(p => p.Date).Skip(1).Take(1).FirstOrDefault().Online);
                        }

                        <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
                            <div class="product">
                                <div class="image"  name='img_proName' id='img@(item.BarcodeId)'>
                                    <a href="@Url.Action("ProductDetails", new
                                        {
                                            productId = @item.BarcodeId,
                                            categoryId = Request["categoryId"],
                                            tabName = "general",
                                            isNew = Request["isNew"],
                                            isOffer = Request["isOffer"],
                                            isSale = Request["isSale"]
                                        })">
                                        <img  class="img-responsive" src='../../../Data/@(item.aspnet_Applications.ApplicationName == "/" ? "" : item.aspnet_Applications.ApplicationName)Photos/@(item.Barcode)/thumb_1.jpg' alt='@item.Name' title='@item.Name' style="border: none;"/>
                                        <div class="promotion">
                                            @if (item.inv_Property.Any(p => p.TranslatedProperty == "new"))
                                            {
                                                <span class="new-product">NEW</span>
                                            }
                                            @if (item.inv_Property.Any(p => p.TranslatedProperty == "offer"))
                                            {
                                                <span class="offer-product">OFFER</span>
                                            }
                                            @if (item.inv_Property.Any(p => p.TranslatedProperty == "sale") && oldPrice != null)
                                            { <span class="discount">@(100 - Convert.ToInt32(item.inv_Price.OrderByDescending(p => p.Date).FirstOrDefault().Online) * 100 / oldPrice)%
                                                SALE</span>}
                                        </div>
                                    </a>
                                </div>
                                <div class="description">
                                    <h4>
                                        <a href="@Url.Action("ProductDetails", new
                                    {
                                        productId = @item.BarcodeId,
                                        categoryId = Request["categoryId"],
                                        tabName = "general",
                                        isNew = Request["isNew"],
                                        isOffer = Request["isOffer"],
                                        isSale = Request["isSale"]
                                    })">@item.Name
                                        </a>
                                    </h4>
                                    @if (!string.IsNullOrEmpty(@item.Description))
                                    {
                                        <p>
                                            @item.Description &nbsp;
                                        </p>
                                    }
                                    @{
                                    var q = item.inv_ItemDetail.Where(s => s.inv_Size.Count > 0).Select(s => s.inv_Size.FirstOrDefault().Size).Distinct();
                                    if (q.Count() > 0)
                                    {
                                        <span class="size">&nbsp;
                                            @{
                                        var size = "";
                                        var j = 0;
                                        foreach (var it in q)
                                        {
                                            if (j == 0)
                                            {
                                                size += it;
                                            }
                                            else
                                            {
                                                size += " / " + it;
                                            }
                                            j++;
                                        }
                                
                                                @size
                                            }
                                        </span>
                                    }
                                    }
                                </div>
                                <div class="price">
                                    <span>
                                        @if (Model.HasWholeRole != true && Model.hasFriendRole != true)
                                        {
                                            if (item.inv_Property.Any(p => p.TranslatedProperty == "sale") && item.inv_ItemDetail.Any(it => it.inv_Size == null || it.inv_Size.Count == 0))
                                            {
                                            <span style="text-decoration: line-through; margin-left: 5px; color: #FF0000;">
                                                @if (oldPrice != null)
                                                {
                                                    @(Convert.ToInt32(oldPrice))
                                                }
                                            </span><span>$</span>
                                            @Convert.ToInt32(item.inv_Price.OrderByDescending(p => p.Date).FirstOrDefault().Online)
                                            }
                                            else
                                            {
                                            <span>$</span>
                                            @Convert.ToInt32(item.inv_Price.OrderByDescending(p => p.Date).FirstOrDefault().Online)
                                            }
                                        }
                                        else if (Model.HasWholeRole == true)
                                        {
                                            if (item.inv_Price.OrderByDescending(p => p.Date).FirstOrDefault().Wholesale > 0)
                                            {<span> $</span>
                                            @Convert.ToInt32(item.inv_Price.OrderByDescending(p => p.Date).FirstOrDefault().Wholesale)
                                            }
                                            else
                                            {<span> $</span>
                                            @Convert.ToInt32(item.inv_Price.OrderByDescending(p => p.Date).FirstOrDefault().Online)
                                            }
                                        }
                                        else if (Model.hasFriendRole == true)
                                        {
                                            if (item.inv_Price.OrderByDescending(p => p.Date).FirstOrDefault().Freinds > 0)
                                            {<span> $</span>
                                            @Convert.ToInt32(item.inv_Price.OrderByDescending(p => p.Date).FirstOrDefault().Freinds)
                                            }
                                            else
                                            {<span> $</span>
                                            @Convert.ToInt32(item.inv_Price.OrderByDescending(p => p.Date).FirstOrDefault().Online)
                                            }
                                        }
                                    </span>
                                </div>
                                <div class="action-control">
                                    <a class="btn btn-primary" name='order' id='ord@(item.BarcodeId)' ><span class="add2cart">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>Add to cart </span></a>
                                </div>
                            </div>
                        </div>
                        <!--/.item-->
                    }
                </div>
                <!--/.categoryProduct || product content end-->
                @{

                    
                    <div class="w100 categoryFooter">
                        <div class="pagination pull-left no-margin-top">
                            <ul class="pagination no-margin-top">
                                @if (pager.HasPreviousPage)
                                {
                                    <li>
                                        @Html.ActionLink("«", "Category", new
                                   {
                                       page = pager.FirstPageIndex,
                                       categoryId = Request["categoryId"],
                                       isNew = Request["isNew"],
                                       isOffer = Request["isOffer"],
                                       isSale = Request["isSale"],
                                       sortBy = Request["sortBy"],
                                       itemPerPage = Request["itemPerPage"],
                                       property = Request["property"],
                                       priceRange = Request["priceRange"],
                                       fromPrice = Request["fromPrice"],
                                       toPrice = Request["toPrice"]
                                   }) </li>
                                }
                                @foreach (int page in pager)
                                {
                                    <li class="@(page == pager.CurrentPageIndex ? "active" : "")">
                                        @Html.ActionLink(page.ToString(), "Category", new
                                   {
                                       page = page,
                                       categoryId = Request["categoryId"],
                                       isNew = Request["isNew"],
                                       isOffer = Request["isOffer"],
                                       isSale = Request["isSale"],
                                       sortBy = Request["sortBy"],
                                       itemPerPage = Request["itemPerPage"],
                                       property = Request["property"],
                                       priceRange = Request["priceRange"],
                                       fromPrice = Request["fromPrice"],
                                       toPrice = Request["toPrice"]
                                   }, new { @class = (@page == @pager.CurrentPageIndex ? "active" : "") }) </li>
                                }
                                @if (pager.HasNextPage)
                                {
                                    <li>
                                        @Html.ActionLink("»", "Category", new
                                   {
                                       page = pager.NextPageIndex,
                                       categoryId = Request["categoryId"],
                                       isNew = Request["isNew"],
                                       isOffer = Request["isOffer"],
                                       isSale = Request["isSale"],
                                       sortBy = Request["sortBy"],
                                       itemPerPage = Request["itemPerPage"],
                                       property = Request["property"],
                                       priceRange = Request["priceRange"],
                                       fromPrice = Request["fromPrice"],
                                       toPrice = Request["toPrice"]
                                   })</li>
                                }
                            </ul>
                        </div>
                        <div class="pull-right pull-right col-sm-4 col-xs-12 no-padding text-right text-left-xs">
                            <p>
                                Showing @(pager.CurrentPageIndex == 1 ? 1 : (pager.CurrentPageIndex - 1) * pager.itemsPerPage) to
                                @((((pager.CurrentPageIndex - 1) * pager.itemsPerPage + 12) > pager.numberOfItems ? pager.numberOfItems : ((pager.CurrentPageIndex - 1) * pager.itemsPerPage + 12)))
                                from @(pager.numberOfItems)
                                products</p>
                        </div>
                    </div>
                }
                <!--/.categoryFooter-->
            </div>
            <!--/right column end-->
        </div>
        <!-- /.row  -->
    </div>
}