@model IEnumerable<System.Xml.Linq.XElement>
@{
                        
    int count = 0;
    foreach (var menu in Model)
    {
        count++;
    <ul class="col-lg-2  col-sm-2 col-md-2 unstyled">
        <li class="no-border">
            <p>
                <strong>@(menu.Attribute("menuName").Value)</strong></p>
        </li>
        @{
                    var sub = menu.Elements("Content").Where(c => c.Attribute("menuLocation").Value
              == "side" && c.Attribute("show").Value == "true").OrderBy(o => Convert.ToInt32(o.Attribute("order").Value));
                    if (sub.Count() > 0)
                    {
            <ul class="">
                @foreach (var subMenu in sub)
                {
                    <li  id="@(subMenu.Attribute("Id").Value)" >
                        @if (bool.Parse(subMenu.Attribute("isLink").Value))
                        {
                            <a  target="@(bool.Parse(subMenu.Attribute("newPage").Value) ? "_blank" : "_self")" href="@subMenu.Attribute("linkTo").Value">@subMenu.Attribute("menuName").Value</a>
                        }
                        else
                        {
                            @Html.ActionLink(subMenu.Attribute("menuName").Value, "SideMenu", "Home", new
       {
           categoryId = Request["categoryId"],
           isNew = Request["isNew"],
           isOffer = Request["isOffer"],
           isSale = Request["isSale"],
           menuId = subMenu.Attribute("Id").Value,
           name = subMenu.Attribute("menuName").Value
       }, new { @target = (bool.Parse(subMenu.Attribute("newPage").Value) ? "_blank" : "_self") })
                        }
                    </li>

                }
            </ul>
                    }
        }
    </ul>
    }
}
