@model MapiOnline.Models.RegisterModel
@{
    ViewBag.Title = "صفحه شخصی";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="../../Scripts/jquery.pagination.js" type="text/javascript"></script>
<script src="../../Scripts/fcal.js" type="text/javascript"></script>
<script type="text/javascript">

    function postRefId(refIdValue) {
        var form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "https://bpm.shaparak.ir/pgwchannel/startpay.mellat");
        form.setAttribute("target", "_self");
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("name", "RefId");
        hiddenField.setAttribute("value", refIdValue);
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();
        document.body.removeChild(form);
    }

    $(function () {
        var firstOnlineTab = true, firstShopTab = true;
        $("#txtInvoiceDateStart").datepicker({ changeMonth: true, changeYear: true,
            onSelect: function (dateText, inst) {
                $('#txtInvoiceDateEnd').datepicker('option', 'minDate', new JalaliDate(inst['selectedYear'], inst['selectedMonth'], inst['selectedDay']));
            }
        });
        $("#txtInvoiceDateEnd").datepicker({ changeMonth: true, changeYear: true });
        $("#txtNInvoiceDateStart").datepicker({ changeMonth: true, changeYear: true,
            onSelect: function (dateText, inst) {
                $('#txtNInvoiceDateEnd').datepicker('option', 'minDate', new JalaliDate(inst['selectedYear'], inst['selectedMonth'], inst['selectedDay']));
            }
        });
        $("#txtNInvoiceDateEnd").datepicker({ changeMonth: true, changeYear: true });
        $("#OrdersTab").tabs({
            beforeActivate: function (event, ui) {
                if (ui.newTab.attr("id") == "fromShop") {
                    if (firstShopTab) {
                        getFullAcountList("shopBuy", { container: "shopBuy", callbackmethod: getFullAcountList, fname: "", page_index: 0,
                            build: buildFullAcountList, servicename: "Account", methodname: "GetCurrentUserOrders", print: false
                        });
                        firstShopTab = false;
                    }
                }
                if (ui.newTab.attr("id") == "online") {
                    if (firstOnlineTab) {
                        getFullAcountList("onlineBuy", { container: "onlineBuy", callbackmethod: getFullAcountList, fname: "", page_index: 0,
                            build: buildOnlineOrdersList, servicename: "Account", methodname: "GetCurrentUserOnlineOrders", print: false
                        });
                        firstOnlineTab = false;
                    }
                }
            }
        });
        getFullAcountList("onlineBuy", { container: "onlineBuy", callbackmethod: getFullAcountList, fname: "", page_index: 0,
            build: buildOnlineOrdersList, servicename: "Account", methodname: "GetCurrentUserOnlineOrders", print: false
        });
        $("[id=btnSearch]").unbind('click').click(function () {
            getFullAcountList("shopBuy", { container: "shopBuy", callbackmethod: getFullAcountList, fname: "", page_index: 0,
                build: buildFullAcountList, servicename: "Account", methodname: "GetCurrentUserOrders", print: false
            });
        });
        $("[id=btnNSearch]").unbind('click').click(function () {
            getFullAcountList("onlineBuy", { container: "onlineBuy", callbackmethod: getFullAcountList, fname: "", page_index: 0,
                build: buildOnlineOrdersList, servicename: "Account", methodname: "GetCurrentUserOnlineOrders", print: false
            });
        });
    });
</script>
<div class="header">
    <div class="dots">
        <h2>
            صفحه شخصی
        </h2>
    </div>
</div>
<div class="news_box_left">
    <div class="unitRight">
        @using (Html.BeginForm())
        {
            <div class="alert" style="margin-bottom: 0px!important; margin-right: 60px; width: 665px;">
                <strong>اطلاعات شخصی کاربر</strong>
            </div>
            <div class="content_item">
                @*<div class="content_img">
                </div>*@
                <div class="item_content">
                    @Html.ValidationSummary(true)
                    <div style="direction: rtl; width: 716px; margin-right: 60px;">
                        <div class="MPBHS">
                        </div>
                        <table class="profile_table">
                            <tbody>
                                <tr>
                                    <th>
                                        &nbsp;
                                    </th>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        آدرس الکترونیک :
                                    </th>
                                    <td>
                                        @Html.DisplayTextFor(model => model.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        نام و نام خانوادگی :
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Gender, new { @class = "displayText" }) @Html.DisplayFor(model => model.Name)
                                        @Html.DisplayFor(model => model.Family)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        تاریخ تولد :
                                    </th>
                                    <td>
                                        @Html.DisplayTextFor(model => model.BirthYear)/@Html.DisplayTextFor(model => model.BirthMonth)/@Html.DisplayTextFor(model => model.BirthDay)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        شغل :
                                    </th>
                                    <td>
                                        @Html.DisplayTextFor(model => model.Combo)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        تلفن :
                                    </th>
                                    <td>
                                        @foreach (var item in Model.Phonelist)
                                        {
                                            <span class="unitRight displayTextItems">
                                                @item&nbsp; </span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        موبایل :
                                    </th>
                                    <td>
                                        @foreach (var nums in Model.Mobilelist)
                                        {
                                            <span class="unitRight displayTextItems">
                                                @nums&nbsp; </span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        کد پستی :
                                    </th>
                                    <td>
                                        @Html.DisplayTextFor(model => model.PostalCode)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        آدرس پستی :
                                    </th>
                                    <td>
                                        @Html.DisplayTextFor(model => model.AddressStr)
                                    </td>
                                </tr>
                                <tr>
                                    <th style="width: 22%">
                                        نحوه آشنایی با ما :
                                    </th>
                                    <td>
                                        خرید حضوری از فروشگاه
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        &nbsp;
                                    </th>
                                    <td class="NoWidth">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                    </th>
                                    <td style="text-align: left; padding-left: 25px; font-weight: bold">
                                        @Html.ActionLink("تغییر رمز عبور", "ChangePassword", "Account", new
                                   {
                                       categoryId = Request["categoryId"],
                                       isNew = Request["isNew"],
                                       isOffer = Request["isOffer"],
                                       isSale = Request["isSale"]
                                   }, null)<span
                                            style="color: #7a547d"> | </span>
                                        @Html.ActionLink("تغییر ایمیل", "ChangeUserName", "Account", new
                                   {
                                       categoryId = Request["categoryId"],
                                       isNew = Request["isNew"],
                                       isOffer = Request["isOffer"],
                                       isSale = Request["isSale"]
                                   }, null)<span
                                            style="color: #7a547d"> | </span>
                                        @Html.ActionLink("تغییر اطلاعات شخصی", "EditPersonalInfo", "Account", new
                                   {
                                       categoryId = Request["categoryId"],
                                       isNew = Request["isNew"],
                                       isOffer = Request["isOffer"],
                                       isSale = Request["isSale"]
                                   }, null)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="profile_table_buttom">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        }
        <ul class="cleaner">
            &nbsp;</ul>
        <div id="OrdersTab">
            <div class="sunny">
                <ul>
                    <li id="online"><a href="#onlineBuy">خریدهای اینترنتی شما</a></li>
                    <li id="fromShop"><a href="#shopBuy">خریدهای شما</a></li>
                    <li id="vouchers"><a href="#tab-vouchers">کارت هدیه</a></li>
                    <li id="reviews"><a href="#tab-reviews">نقدهای شما</a></li>
                    <li id="comments"><a href="#tab-comments">نظرهای شما</a></li>
                </ul>
            </div>
            <div id="onlineBuy">
                <div id="onlineBuyTable" class="margin5">
                    <div id="divNReportsearch">
                        <div class="report-filter">
                            <div class="unit size1of6">
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            بر اساس</label>
                                        <div class="form-field">
                                            <select id="ddlSearchBy1">
                                                <option value="">انتخاب</option>
                                                @*<option value="EmployeeName">نـام و نـام خانوادگی کارمند</option>*@
                                                <option value="InvoiceNumber">شماره فاکتور</option>
                                                <option value="shop">نام فروشگاه</option>
                                                <option value="productBarcode">کالا</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="unit size1of6">
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            مقدار</label>
                                        <div class="form-field">
                                            <input name="searchTerm" id="txtSearch1" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="unit size1of6">
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            تاریخ ثبت از</label>
                                        <div class="form-field">
                                            <input type="text" id="txtInvoiceDateStart" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="unit size1of6">
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            تا تاریخ</label>
                                        <div class="form-field">
                                            <input type="text" id="txtInvoiceDateEnd" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br class="clearer">
                            <div class="unit size1of3">
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            مبلغ فاکتور از</label>
                                        <div class="form-field">
                                            <input type="text" id="txt_s_PriceFrom" />
                                        </div>
                                    </div>
                                </div>
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            تا</label>
                                        <div class="form-field">
                                            <input type="text" id="txt_s_PriceTo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br class="clearer">
                            <div style="clear: both;">
                                <div class="left">
                                    <button id="btnNSearch" class="unit btn btn-info" style="width: 100px; margin-left: 7px;">
                                        جستجو</button>
                                </div>
                            </div>
                            <br class="clearer">
                        </div>
                    </div>
                    <table border="1px" cellpadding="6px" class="tableTabBorder" cellspacing="0" style="width: 780px">
                        <tbody id="nOrdersInfo" class="sunny">
                        </tbody>
                    </table>
                    <div>
                        <ul style="font-family: tahoma; font-size: 12px; color: #333333; margin-left: 3px;">
                            <li style="float: left;">جمع مبلغ : <span id="sumNetCreditor"></span></li>
                        </ul>
                        <ul class="cleaner paging">
                            <li>
                                <div id="paging" class="pagination">
                                </div>
                            </li>
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li><li>
                                <select class="PagingSelect" id="PageSize">
                                    <option value="5">5 ردیف در هر صفحه</option>
                                    <option value="10">10 ردیف در هر صفحه</option>
                                    <option value="20">20 ردیف در هر صفحه</option>
                                    <option value="40">40 ردیف در هر صفحه</option>
                                </select></li></ul>
                    </div>
                </div>
            </div>
            <div id="shopBuy" style="width: 800px">
                <div id="shopBuyTable" class="margin5">
                    <div id="divReportsearch">
                        <div class="report-filter">
                            <div class="unit size1of6">
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            بر اساس</label>
                                        <div class="form-field">
                                            <select id="ddlSearchBy1">
                                                <option value="">انتخاب</option>
                                                @*<option value="EmployeeName">نـام و نـام خانوادگی کارمند</option>*@
                                                <option value="InvoiceNumber">شماره فاکتور</option>
                                                <option value="shop">نام فروشگاه</option>
                                                <option value="productBarcode">کالا</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="unit size1of6">
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            مقدار</label>
                                        <div class="form-field">
                                            <input name="searchTerm" id="txtSearch1" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="unit size1of6">
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            تاریخ ثبت از</label>
                                        <div class="form-field">
                                            <input type="text" id="txtInvoiceDateStart" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="unit size1of6">
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            تا تاریخ</label>
                                        <div class="form-field">
                                            <input type="text" id="txtInvoiceDateEnd" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br class="clearer">
                            <div class="unit size1of3">
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            مبلغ فاکتور از</label>
                                        <div class="form-field">
                                            <input type="text" id="txt_s_PriceFrom" />
                                        </div>
                                    </div>
                                </div>
                                <div class="blocker">
                                    <div class="form-row">
                                        <label>
                                            تا</label>
                                        <div class="form-field">
                                            <input type="text" id="txt_s_PriceTo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br class="clearer">
                            <div style="clear: both;">
                                <div class="left">
                                    <button id="btnSearch" class="unit btn btn-info" style="width: 100px; margin-left: 7px;">
                                        جستجو</button>
                                </div>
                            </div>
                            <br class="clearer">
                        </div>
                    </div>
                    <table border="1px" cellpadding="6px" class="tableTabBorder" cellspacing="0" style="width: 780px">
                        <tbody id="ordersInfo" class="sunny">
                        </tbody>
                    </table>
                    <div>
                        <ul class="cleaner" style="font-family: tahoma; font-size: 11px; color: #333333;
                            margin-left: 3px;">
                            <li style="float: left; margin-left: 5px;">جمع مرجوعی : <span id="sumDebtor"></span>
                            </li>
                            <li style="float: left; margin-left: 5px;">جمع خرید : <span id="sumCreditor"></span>
                            </li>
                        </ul>
                        <ul class="cleaner" style="font-family: tahoma; font-size: 11px; color: #333333;
                            margin-left: 3px;">
                            <li style="float: left; margin-left: 5px;">جمع دریافتی : <span id="sumReceive"></span>
                            </li>
                            <li style="float: left; margin-left: 5px;">جمع پرداختی : <span id="sumPayment"></span>
                            </li>
                        </ul>
                        <ul class="cleaner" style="font-family: tahoma; font-size: 11px; color: #333333;
                            margin-left: 3px;">
                            <li style="float: left;">مبلغ باقیمانده : <span id="sumBalance"></span></li>
                        </ul>
                        @Html.Raw(ViewBag.Script)
                        @using (Ajax.BeginForm("PayAmount", "Account", new AjaxOptions
                        {
                            OnBegin = "loadingStart();",
                            OnComplete = "loadingEnd();",
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "error"
                        }))
                        {
                            <ul class="cleaner" style="font-family: tahoma; font-size: 11px; color: #333333;
                                margin-left: 3px;">
                                <li style="float: left;">
                                    <input type="submit" name="btnPayment" value="پرداخت" class="btn btn-success" /></li>
                                <li style="float: left;">
                                    <input type="text" name="payAmount" /></li>
                                <li style="float: left;">
                                    <label>
                                        مبلغ پرداختی (تومان) :</label></li>
                            </ul>
                        }
                        <ul class="cleaner paging">
                            <li>
                                <div id="paging" class="pagination">
                                </div>
                            </li>
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li><li>
                                <select class="PagingSelect" id="PageSize">
                                    <option value="5">5 ردیف در هر صفحه</option>
                                    <option value="10">10 ردیف در هر صفحه</option>
                                    <option value="20">20 ردیف در هر صفحه</option>
                                    <option value="40">40 ردیف در هر صفحه</option>
                                </select></li></ul>
                    </div>
                </div>
            </div>
            <div id="tab-vouchers">
            </div>
            <div id="tab-reviews">
            </div>
            <div id="tab-comments">
            </div>
        </div>
        @*detail payment*@
        <div id="DetailPaymentList" dir="rtl">
            <div id="tablecash" class="invisible">
                <br class="clearer">
                <table border="1px" cellpadding="6px" class="tableTabBorder sunny" cellspacing="0"
                    width="270px">
                    <thead>
                        <tr class="tableHeader ui-state-default">
                            <td width="50%">
                                <span>مبلغ</span>
                            </td>
                            <td width="40%">
                                <span>نحوه پرداخت</span>
                            </td>
                        </tr>
                    </thead>
                    <tbody id="CashList">
                    </tbody>
                </table>
                <br class="clearer">
            </div>
            <br />
            <br />
            <div id="tablecheque" class="invisible" style="text-align: center; vertical-align: middle;">
                <br class="clearer">
                <table border="1px" cellpadding="6px" class="tableTabBorder sunny" cellspacing="0">
                    <thead>
                        <tr class="tableHeader ui-state-default">
                            <td width="20%">
                                <span>مبلغ</span>
                            </td>
                            <td width="20%">
                                <span>بانک</span>
                            </td>
                            <td width="15%">
                                <span>سریال</span>
                            </td>
                            <td width="15%">
                                <span>وضعیت</span>
                            </td>
                            <td width="20%">
                                <span>تاریخ</span>
                            </td>
                        </tr>
                    </thead>
                    <tbody id="ChequeList">
                    </tbody>
                </table>
                <br class="clearer">
            </div>
        </div>
        @*detail voucher*@
        <div id='voucherDetailsList' class="invisible" dir="rtl">
            <br class="clearer">
            <table border="1px" cellpadding="6px" class="tableTabBorder sunny" cellspacing="0">
                <thead>
                    <tr class="tableHeader ui-state-default">
                        <td width="25%">
                            <span>voucherNo</span>
                        </td>
                        <td width="20%">
                            <span>status</span>
                        </td>
                        <td width="20%">
                            <span>expieryDate</span>
                        </td>
                        <td width="20%">
                            <span>voucherCost</span>
                        </td>
                    </tr>
                </thead>
                <tbody id="DetailListVoucher">
                </tbody>
            </table>
            <br class="clearer">
        </div>
        @*detail order*@
        <div id="dialog" class="invisible" dir="rtl">
            <br class="clearer">
            <table border="1px" cellpadding="6px" class="tableTabBorder sunny" cellspacing="0"
                width="960px">
                <thead>
                    <tr class="tableHeader ui-state-default">
                        <td width="17%">
                            <span>بارکد</span>
                        </td>
                        <td width="10%">
                            <span>رنگ</span>
                        </td>
                        <td width="10%">
                            <span>سایز</span>
                        </td>
                        <td width="7%">
                            <span>تعداد</span>
                        </td>
                        <td width="10%">
                            <span>قیمت</span>
                        </td>
                        <td width="10%">
                            <span>مبلغ کل</span>
                        </td>
                        <td width="10%">
                            <span>سریال</span>
                        </td>
                        <td>
                            <span>تصویر</span>
                        </td>
                    </tr>
                </thead>
                <tbody id="DetailListInvoice">
                </tbody>
            </table>
            <br class="clearer">
        </div>
        @*online order details*@
        <div id="onlineOrderDetails" class="invisible" dir="rtl">
            <div class="clearer" align="center">
                <span style="font-family: tahoma; font-size: 11px; font-weight: bold; color: #000000;">
                    « اطلاعات دریافت کننده و سفارش »</span></div>
            <br class="clearer">
            <div class="report-filter">
                <table id="receiverDtTable">
                    <tr>
                        <th>
                            دریافت کننده :
                        </th>
                        <td id="receiverName">
                        </td>
                        <th>
                            نحوه ارسال سفارش :
                        </th>
                        <td id="postType">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            تاریخ و ساعت ارسال :
                        </th>
                        <td id="dateTime">
                        </td>
                        <th>
                            نحوه پرداخت :
                        </th>
                        <td id="paymentType">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            تلفن و موبایل دریافت کننده :
                        </th>
                        <td id="phoneMobile">
                        </td>
                        <th>
                            شماره پرداخت :
                        </th>
                        <td id="referenceId">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            آدرس دریافت کننده :
                        </th>
                        <td id="receiverAddress" colspan="3">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            اطلاعات تکمیلی و نوع سفارش :
                        </th>
                        <td id="isgiftDescription">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clearer" align="center">
                <span style="font-family: tahoma; font-size: 11px; font-weight: bold; color: #000000;">
                    « اطلاعات کالاها »</span></div>
            <br class="clearer">
            <table border="1px" cellpadding="6px" class="tableTabBorder sunny" cellspacing="0"
                width="960px">
                <thead>
                    <tr class="tableHeader ui-state-default">
                        <td width="17%">
                            <span>بارکد</span>
                        </td>
                        <td width="10%">
                            <span>رنگ</span>
                        </td>
                        <td width="10%">
                            <span>سایز</span>
                        </td>
                        <td width="7%">
                            <span>تعداد</span>
                        </td>
                        <td width="10%">
                            <span>قیمت</span>
                        </td>
                        <td width="10%">
                            <span>مبلغ کل</span>
                        </td>
                        <td width="10%">
                            <span>سریال</span>
                        </td>
                        <td>
                            <span>تصویر</span>
                        </td>
                    </tr>
                </thead>
                <tbody id="onlineDetailListInvoice">
                </tbody>
            </table>
            <br class="clearer">
            <br class="clearer">
        </div>
    </div>
</div>
